.carousel-background{
    background-color:#feeae9;
}
.categories img{
    width: 100px;
}
.button-style{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    border: none;
}